.arrow {
  color: inherit;
  text-decoration: none;
}

.ctas {
 --button-primary-background: var(--color-green);
 --button-primary-foreground: var(--color-dark);

  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  border-radius: 11px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 400;
}

a.primary {
  background: var(--button-primary-background);
  color: var(--button-primary-foreground);
  gap: 8px;
}

a.primary:hover {
  scale: 1.1;
  filter: brightness(1.1);
}

a.secondary {
  border-color: var(--button-secondary-border);
}