.valueProposition {
  grid-column: 2 / 16;
  display: flex;
  flex-direction: column;
  gap:1rem;
  padding-block: 5vw 10vw;
}

.valueProposition h2 {
  font-size: var(--font-size-xl);
  font-weight: 600;
  text-wrap: balance;

}

.valueProposition p {
  font-size: var(--font-size-md);
}

.valueProposition :is(h2) span {
  color: var(--text-secondary);
}

.valueProposition :is(p) span {
  color: var(--color-orange);
}

@media (min-width: 1024px) {

.valueProposition {
  grid-column: 2 / 8;
  padding-block: 2.5vw 5vw; 
  
}
}