.nav {
 grid-column: 2 / 16;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.logoContainer {
  padding-block: 6vw;
}

.logoContainer img {
  object-fit: contain;
}

.containerNavLinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navLink {
  font-size: var(--font-size-md);
  font-weight: 500;
  color: var(--color-text);
  text-decoration: none;
  border: 1.5px solid var(--color-white);
  border-radius: 50px;
  padding: 0.3rem 1rem;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-dark);
  }
} 

@media (min-width: 1024px) {
  .nav {
     grid-column: 2 / 12;
     padding: 0;
  }
  .logoContainer {
    padding-inline: 0;
  }
}