.nav {
 position: fixed;
 top: clamp(0.75rem, 2vw, 1rem); 
 left: 50%;
 transform: translateX(-50%);
 display: flex;
 justify-content: space-between;
 width: 98%;
 align-items: center;
 z-index: 100;
 border-radius: 14px; 
 box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
 padding: clamp(0.5rem, 1.5vw, 0.75rem) clamp(1rem, 3vw, 1.5rem);
}

.nav::before {
  content: "";
  position: absolute;
  inset: 0; 
  z-index: -1;
  background-color:  rgba(76, 21, 3, 0.1);
  backdrop-filter: blur(13px);
  border: 1px solid #fff0eb3c;
  border-radius: inherit;
}

.logoContainer {
  display: flex;
  padding-block: 1vh;
}

.logoContainer img {
  object-fit: contain;
}

.containerNavLinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navLink {
  font-size: var(--font-size-md);
  font-weight: 500;
  color: var(--color-text);
  text-decoration: none;
  border: 1.5px solid var(--color-white);
  border-radius: 50px;
  padding: 0.3rem 1rem;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-dark);
  }
} 

@media (min-width: 1024px) {

  .logoContainer {
    padding-inline: 0;
  }
}