.intro {
  grid-column: 2 / 12;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.introContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 16px;
}

.introTitle {
  font-size: var(--font-size-xxl);
  font-weight: 600;
  line-height: var(--space-line-height-xxl);
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.introSubtitle {
  font-size: var(--font-size-lg);
  text-wrap: balance;
}

.introText {
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: var(--space-line-height-md);
  text-wrap: pretty;
  color: var(--text-primary);
}


.introContent :is(h1, h2, h3, p) span {
  color: var(--text-secondary);
}

.introImage {
  display: flex;
  max-width: 100%;
}

.introImage img {
  flex: 1;
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {

  .intro {
    grid-column: 2 / 16;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 16px;
    padding-block: 9vw;
  }


  .introImage {
    max-width: 180px;
    height: fit-content;
  }
}