.card {
  --space-block: 32px;
  --space-inline: 16px;
  --gap: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--space-block) var(--space-inline);
  background-color: inherit;
  border-radius: 21px;
  min-width: 235px;
  width: 100%;
  max-width: calc(280px*2);
  scroll-snap-align: start;
  flex-shrink: 0;
}



.cardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardContent h3 {
  font-size: var(--font-size-lg);
  line-height: var(--space-line-height-lg);
  text-wrap: balance;
  font-weight: 600;
}

.cardContent p {
  font-size: var(--font-size-md);
  line-height: var(--space-line-height-md);
  font-weight: 400;
  text-wrap: pretty;
}

.themeLight {
  background-color: var(--color-white);
  color: var(--color-brown);

  > img  {
    color: var(--color-brown);
  }
}

.themeOrange {
  background-color: var(--color-orange);
  color: var(--color-white);
  > img  {
    color: var(--color-white);
  }
}

.themePink {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.themeBrown {
  background-color: var(--color-brown);
  color: var(--color-white);
}
