.card {
  --space-block: 32px;
  --space-inline: 16px;
  --gap: 16px;
  
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--space-block) var(--space-inline);
  background-color: inherit;
  border-radius: 21px;
  min-width: 280px;
  max-width: calc(280px*2)

}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.themeLight {
  background-color: var(--color-white);
  color: var(--color-brown);
}

.themeOrange {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.themePink {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.themeBrown {
  background-color: var(--color-brown);
  color: var(--color-white);
}