:root {
  --color-white: #FFF0EB;
  --color-red: #F40C3F;
  --color-green: #32FFAB;
  --color-orange: #FF5C00;
  --color-brown: #540000;
  --color-dark: #160000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark);
    --foreground: var(--color-white);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
