:root {
  --color-white: #FFF0EB;
  --color-pink: #F40C3F;
  --color-green: #32FFAB;
  --color-orange: #FF5C00;
  --color-brown: #540000;
  --color-dark: #160000;

  --font-size-xl: clamp(2.4375rem, 0.9886rem + 7.2443vw, 5.625rem);
  /* --font-size-lg:
  --font-size-md:
  --font-size-xs: 
 */
  --space-line-height-xl: clamp(2.68125rem, 1.6273rem + 5.2699vw, 5rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark);
    --foreground: var(--color-white);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
