:root {
  --color-white: #FFF0EB;
  --color-pink: #F40C3F;
  --color-green: #32FFAB;
  --color-orange: #FF5C00;
  --color-brown: #540000;
  --color-dark: #160000;
  --font-size-xxl:clamp(2.4375rem, 1.3864rem + 5.2557vw, 4.75rem);
  --font-size-xl: clamp(1.625rem, 1.2273rem + 1.9886vw, 2.5rem);
  --font-size-lg: clamp(1.125rem, 0.9545rem + 0.8523vw, 1.5rem);
  --font-size-md: clamp(0.875rem, 0.7614rem + 0.5682vw, 1.125rem);
 /* --font-size-xs: 
 */
  --space-line-height-xxl: clamp(2.68125rem, 1.9114rem + 3.8494vw, 4.375rem);
  --space-line-height-xl: clamp(1.7875rem, 1.4068rem + 1.9034vw, 2.625rem);
  --space-line-height-lg: clamp(1.4625rem, 1.3091rem + 0.767vw, 1.8rem);
  --space-line-height-md: clamp(1.1375rem, 0.9898rem + 0.7386vw, 1.4625rem);
  
  --background: var(--color-dark);
  --foreground: var(--color-white);
}

html{
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: dark;
  background: var(--background);
}

body {
  position: relative;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(/noise.png) repeat;
  mix-blend-mode: luminosity;
  filter: invert(1);
  opacity: .1;
  pointer-events: none;
}
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


