.page {
  --background: var(--color-dark);
  --foreground: var(--color-white);

  --text-primary: var(--color-white);
  --text-secondary: var(--color-pink);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
  
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  min-height: 100vh;
  background-color: var(--background);
  margin-inline: auto;
}

.main {
  grid-column: 1 / -1;
  display: flex;

  min-height: 100dvh;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color-dark);
  padding: 3vw 6vw;
}



.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (min-width: 1024px) {
  .page {
    display: grid;
    grid-template-columns: repeat(16, 8fr);
  }

  .main {
    grid-column: 3 / 15;
    padding-inline: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    height: auto;
  }

  .page {
    --background: var(--color-dark);
    --foreground: var(--color-white);

    --text-primary: var(--color-white);
    --text-secondary: var(--color-pink);

    --button-primary-hover: var(--color-green);
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
