.page {
  --background: var(--color-dark);
  --foreground: var(--color-white);

  --text-primary: var(--color-white);
  --text-secondary: var(--color-pink);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
  
  position: relative;
  min-height: 100dvh;
}

.main {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  width: 100%;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (min-width: 1024px) {

  .main {
    display: grid;
    grid-template-columns: repeat(12, 8fr);
    padding-inline: 0;

  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    height: auto;
  }

  .page {
    --background: var(--color-dark);
    --foreground: var(--color-white);

    --text-primary: var(--color-white);
    --text-secondary: var(--color-pink);

    --button-primary-hover: var(--color-green);
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
