.service {
  grid-column: 2 / 16;
  display: flex;
  flex-direction: column;
  gap:1rem;
  padding-block: 5vw;
}

.service h2 {
  font-size: var(--font-size-xl);
  line-height: var(--space-line-height-xl);
  word-spacing: -5%;
  font-weight: 600;
}

.service p {
  font-size: var(--font-size-md);
  line-height: var( --space-line-height-md);
  font-weight: 400;
}

.service :is(h2) span {
  color: var(--text-secondary);
}

.servicesWrapper {
  width: 100vw;
  display: flex;
  gap: 1rem;
  margin-block-start: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-inline: 8vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 2;
}

.servicesWrapper:focus-visible {
  display: none;
}

.servicesWrapper::-webkit-scrollbar {
  display: none;
}

.servicesWrapper::after {
  content: '';
  min-width: 14vw;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .service {
    grid-column: 2 / 12;
    padding-block: 2.5vw;
  }
}