.nav {
  grid-column: 1 / -1;
}
.logoContainer {
  padding: 3vw 6vw;
}

.logoContainer img {
  object-fit: contain;
}

@media (min-width: 1024px) {
  .nav {
     grid-column: 3 / 15;
     padding: 0;
  }
  .logoContainer {
    padding-inline: 0;
  }
}