.nav {
 grid-column: 2 / 16;
}
.logoContainer {
  padding-block: 6vw;
}

.logoContainer img {
  object-fit: contain;
}

@media (min-width: 1024px) {
  .nav {
     grid-column: 2 / 12;
     padding: 0;
  }
  .logoContainer {
    padding-inline: 0;
  }
}