.card {
  position: absolute;
  bottom:2vh;
  right: 2vw;
  background-color: var(--color-white);
  color: var(--color-brown);
  padding: 2rem;
  max-width: 480px;
  border-radius: 1rem;

;
}

.main {
  display: flex;
  gap: .8rem;
  flex-direction: column;
  justify-content: center;
}

.main h2 {
  font-size: 26px;
  line-height: 1.1;
  font-weight: 600;
}

.main p {
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.3;
  text-wrap: pretty;
}

.main :is(h1, h2, h3, p) span  {
 color: var(--text-secondary);
 font-weight: 600;
}

.main a {
  display: block;
  text-decoration: underline;
}

.main a:hover {
  text-decoration: underline;
  color: var(--color-orange);
  font-weight: 600;
}