.benefits {
  grid-column: 2 / 16;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 5vw;
}

.benefits h2 {
  font-size: var(--font-size-xl);
  line-height: var(--space-line-height-xl);
  word-spacing: -5%;
  font-weight: 600;
}

.benefits p {
  font-size: var(--font-size-md);
  line-height: var(--space-line-height-md);
  font-weight: 400;
}

.benefits :is(h2) span {
  color: var(--text-secondary);
}

.benefitsWrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2vw;
}

.benefitsWrapper:focus-visible {
  display: none;
}

.benefitsWrapper::-webkit-scrollbar {
  display: none;
}

.yourHand > .benefitCard {

  --ease-in-out-3: cubic-bezier(.5, 0, .5, 1);
  --ease-squish-4: cubic-bezier(.5, -.7, .1, 1.5);
  
  display: flex;
  justify-content: center;

  transform: rotate(var(--r, 0deg)) translateY(var(--t, 0px));
  transition:
    transform-origin 0.5s var(--ease-squish-4),
    transform 0.25s var(--ease-in-out-3),
    scale 0.5s var(--ease-squish-4);

  &:focus-within {
    z-index: 1;
  }

  &:has(:checked) {
    --r: -6deg;
    scale: 1.1;
  }

  > input {
    opacity: 0;
  }
}

.yourHand {
  border: none;

  > legend {
    visibility: hidden;
  }
}

.benefitCard:hover {
  --t: -10% ;
  cursor: pointer;
}


@media (min-width: 1024px) {
  .benefits {
    grid-column: 2 / 12;
    padding-block: 5vw;
    gap: 1rem;
   
  }
}
